#reinforcementContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}
.reinforcement-cards-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}
.reinforcement-tittle{
    text-align: center;
    font-family: alex-brush, sans-serif;
    color: #FFC500;
    text-shadow: 0 2px 6px rgba(59, 58, 58, 0.549);
    font-size: 7rem;
    margin-top: 0%;
}
.card{
    width: 25%;
    height: auto;
    border: 10px solid #437C68;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.card > img{
    width: 60%;
    height: auto;
    margin-top: 5%;
}
.card-header{
    font-family: alex-brush, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    width: 80%;
    margin-top: 4%;
    margin-bottom: 2%;
}
.card-text{
    width: 80%;
    padding: 10% 0 10% 0;
}

.followButton {
    background-color: #437C68;
    color: white;
    width: 19%;
    padding: 10px;
    align-self: center;
    margin: 5%;
    border: none;
    font-size: 1.5rem;
}
.followButton:hover{
    color: #FFC500;
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (min-width: 0) and (max-width: 768px ) {
    .reinforcement-tittle{
        font-size: 4rem;
        font-weight: 800;
        line-height: 3rem;
    }
    .reinforcement-cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }
    .card {
        width: 80%;
        height: auto;
        margin-bottom: 5%;
    }
    .card-text {
        width: 90%;
        padding: 1% 0 10% 0;
    }
    .followButton{
        width: 70%;
    }
 }