.btn-container{
    width: 20%;
    height: 100px;
}
.btn {
    border: 5px solid;
    position: relative;
    height: 50px;
    width: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: rotate(0deg);
    transition: 0.5s ease-out;
    box-shadow: 10px 10px #35594C87;
    background-color: white;
    border-color: #437C68;
    
}
.btn:focus{
    border: 5px dashed blue;
    transform: rotate(-3deg);
    transition: 0.5s ease-in;
    cursor: pointer;        
}
.btn:hover{
    transform: rotate(-3deg);
    transition: 0.5s ease-in;
    cursor: pointer;

}
.btn:hover > .text-link{
    color: white;
    transition: 0.75s ease;
}
#svgContainer{
    position: absolute;
    left: -175%;
    top: 33px;
    z-index: 1;
    width: 100%;
}
svg{
    fill: #FFC500;
    transform: scale(2.5);
}
.text-link{
    z-index: 2;
    background-color: transparent;
    text-align: center;
    font-family: maple, sans-serif;
    color:inherit;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.875rem;
    font-weight: inherit;
    color: #6D6E71;
}

@media screen and (min-width: 0) and (max-width: 768px ) {
    .text-link{
        font-size: 1.75rem;
    }
}