.btn-container{
    width: 20%;
    height: 100px;
}
.btn {
    all: revert;
    border: 5px solid;
    position: relative;
    height: 50px;
    width: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: rotate(0deg);
    transition: 0.5s ease-out;
}
.btn:focus{
    border: 5px dashed blue;
    transform: rotate(-3deg);
    transition: 0.5s ease-in;
    cursor: pointer;        
}
.btn:hover{
    transform: rotate(-3deg);
    transition: 0.5s ease-in;
    cursor: pointer;
}
#svgContainer{
    position: absolute;
    left: -175%;
    top: 33px;
    z-index: 1;
    width: 100%;
}
svg{
    fill: lightsalmon;
    transform: scale(2.5);
}
.text-link{
    z-index: 2;
    background-color: transparent;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.875rem;
    font-size: 2.14286vw;
    font-weight: 400;

}


.d{
    left: -42%;
    top: 17px;
}