.falling-container{
    border: 5px solid slategray;
    height: 500px;
    overflow: hidden;
}
/* Image 1 */
#image1Ref1{
    width: 20%;
    height: auto;
    top: -60%;
    left: -20%;
    position: relative; 
}

#image1Ref2{
    width: 15%;
    height: auto;
    top: -65%;
    left: 20%;
    position: relative; 
}

#image1Ref3{
    width: 10%;
    height: auto;
    top: -50%;
    left: -22%;
    position: relative; 
}

/* Image 2 */
#image2Ref1{
    width: 5%;
    height: auto;
    top: -60%;
    left: -13%;
    position: relative; 
}

#image2Ref2{
    width: 10%;
    height: auto;
    top: -60%;
    left: 18%;
    position: relative; 
}

#image2Ref3{
    width: 8%;
    height: auto;
    top: -50%;
    left: -27%;
    position: relative; 
}

/* Image 3 */
#image3Ref1{
    width: 100px;
    height: auto;
    top: -60%;
    left: -13%;
    position: relative; 
}

#image3Ref2{
    width: 80px;
    height: auto;
    top: -51%;
    left: -18%;
    position: relative; 
}

#image3Ref3{
    width: 8%;
    height: auto;
    top: -60%;
    left: 7%;
    position: relative; 
}